### PyCharm internal project configurations

.idea/ 

### Local Python virtual environment files

.venv/
venv/
ENV/ 

### Python background compilation cache folders

**pycache**/
*.pyc
*.pyo
*.pyd 

